body {
  background-color: #a259d1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

#buttons{
	display:flex;
	gap:20px;
}
.btn {
  background-color: #662d91;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #4b2370;
}
